# Pizza Sales Analysis
**Recommended Analysis**

1) What is the total revenue/sales?
2) Find the total quantity sold.
3) Find the total orders.
4) How many pizza types do they sell?
5) Find the average price of the pizzas.
6) What are the peak hours of sales?
7) Find the total sales made on each day of the week. Which day of the week is when sales are made the most?
8) Find the top 5 bestselling pizzas.
9) Find the sales made in each month. Any trend noticeable?
10) Are there pizza types that are not doing well on the menu?

**Load the needed libraries**

In [145]:
# load the needed libraries
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

**load the dataset**

In [146]:
# load the four CSV files
order_details = pd.read_csv("C:/Users/DELL/Desktop/WeddevPrac/Pizza+Place+Sales/pizza_sales/order_details.csv")
orders = pd.read_csv("C:/Users/DELL/Desktop/WeddevPrac/Pizza+Place+Sales/pizza_sales/orders.csv")
pizza_types = pd.read_csv("C:/Users/DELL/Desktop/WeddevPrac/Pizza+Place+Sales/pizza_sales/pizza_types.csv")
pizzas = pd.read_csv("C:/Users/DELL/Desktop/WeddevPrac/Pizza+Place+Sales/pizza_sales/pizzas.csv")

In [197]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

In [148]:
orders['date'].value_counts()

date
11/27/2015    115
11/26/2015    113
10/15/2015    107
7/4/2015      105
5/15/2015      94
             ...
3/22/2015      37
2/22/2015      37
12/27/2015     35
12/30/2015     32
12/29/2015     27
Name: count, Length: 358, dtype: int64

In [149]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

## **1) What is the total revenue/sales?**

In [150]:
# merge the data set pizzas and order_details
order_det_pizzas = pd.merge( order_details,pizzas, on = 'pizza_id')
order_det_pizzas.head()

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
0,1,1,hawaiian_m,1,hawaiian,M,13.25
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00
2,3,2,five_cheese_l,1,five_cheese,L,18.50
3,4,2,ital_supr_l,1,ital_supr,L,20.75
4,5,2,mexicana_m,1,mexicana,M,16.00

In [151]:
# calculate revenue 
order_det_pizzas['Revenue'] = order_det_pizzas['quantity'] * order_det_pizzas['price']
Revenue = order_det_pizzas['Revenue'].sum()

# print the reveune value 
print(f"Total Revenue is {Revenue}")

Total Revenue is 817860.05

## **2) Find the total quantity sold.**

In [152]:
# Total  quantity sold is the sum of the quantity column
total_qnt = order_det_pizzas["quantity"].sum()

# print the total quantity
print(f"Total Quantity is {total_qnt}")

Total Quantity is 49574

## **3) Find the total orders.**

In [153]:
# Total order is obtained form the sum of the order_id column
total_order = order_det_pizzas["order_id"].count()

# print the number of orders made
print(f"{total_order} ordes where made")

48620 ordes where made

## **4) How many pizza types do they sell?**

In [154]:
pizza_types.head()
# Pizza types is the category of pizza sold
pizza_types['category'].unique()

array(['Chicken', 'Classic', 'Supreme', 'Veggie'], dtype=object)

In [155]:
# number of the types of pizza sold 
pizza_type = len(pizza_types['category'].unique())
# print out the value 
print(f"They sell {pizza_type} types of pizza")

They sell 4 types of pizza

## **5) Find the average price of the pizzas.**

In [156]:
# obtain from the price column using.mean()
avg_price = order_det_pizzas['price'].mean().round(2)

# print avearge price of pizza 
print(f'the average price of pizza is {avg_price}$')

the average price of pizza is 16.49$

## **6) What are the peak hours of sales?**

In [157]:
# mearge the order_id with the order_det_pizzas to know when sales are made
df_merge=pd.merge (order_det_pizzas, orders, on = "order_id")
df_merge.head()

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price,Revenue,date,time
0,1,1,hawaiian_m,1,hawaiian,M,13.25,13.25,1/1/2015,11:38:36
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00,16.00,1/1/2015,11:57:40
2,3,2,five_cheese_l,1,five_cheese,L,18.50,18.50,1/1/2015,11:57:40
3,4,2,ital_supr_l,1,ital_supr,L,20.75,20.75,1/1/2015,11:57:40
4,5,2,mexicana_m,1,mexicana,M,16.00,16.00,1/1/2015,11:57:40

In [161]:
# cponvert to datetime column
df_merge['date'] = pd.to_datetime(df_merge['date'])
df_merge['time'] = pd.to_datetime(df_merge['time'])

In [162]:
# get the hours in of the data form the data.
df_merge['hours'] = df_merge['time'].dt.hour
df_merge['hours']. reset_index()

# get sales by hours 
peak_sales_hour = df_merge['hours'].value_counts().sort_values(ascending=False).reset_index()
peak_sales_hour = peak_sales_hour.iloc[0,0]

# print the time highes sales occur
print(f'The Peak hour of Sales occurs at {peak_sales_hour}noon')

The Peak hour of Sales occurs at 12noon

## 7) Find the total sales made on each day of the week. Which day of the week is sales made the most?

In [190]:
# convert data column in orders to datetime column
orders['day'] =pd.to_datetime(orders['date']).dt.day_name()

#get sales by day
daily_sales = orders['day'].value_counts().sort_values(ascending=False).reset_index()
daily_sales

         day  count
0     Friday   3538
1   Thursday   3239
2   Saturday   3158
3  Wednesday   3024
4    Tuesday   2973
5     Monday   2794
6     Sunday   2624

In [191]:
# get the highest row which is the first using subseting
Peak_day_sales = daily_sales.iloc[0,0]
Peak_day_sales

# print the result
print(f'the days of the week with highest sales is sales {Peak_day_sales}')

the days of the week with highest sales is sales Friday

In [200]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

In [195]:
pizza_types.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [198]:
order_details.head()

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

## 8) Find the top 5 bestselling pizzas.

In [216]:
# merge the needed data sheet
df_merge_2 = pizza_types.merge(pizzas, on= 'pizza_type_id').merge(order_details, on = 'pizza_id').merge(orders, on = 'order_id')
df_merge_2.head()

,pizza_type_id,name,category,ingredients,pizza_id,size,price,order_details_id,order_id,quantity,date,time,day
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,11,6,1,1/1/2015,12:29:36,Thursday
1,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,239,102,1,1/2/2015,17:54:04,Friday
2,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,294,124,1,1/2/2015,20:12:34,Friday
3,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,458,194,1,1/3/2015,21:21:24,Saturday
4,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,489,208,1,1/4/2015,12:12:05,Sunday

In [217]:
# counts of pizzas by name by name
df_merge_2['name'].value_counts().sort_values(ascending=False).reset_index().iloc[0]

name     The Classic Deluxe Pizza
count                        2416
Name: 0, dtype: object

## 9) Find the sales made in each month. Any trend noticeable?

In [226]:
df_merge['date'] = pd.to_datetime(df_merge['date'])
df_merge['month'] = df_merge['date'].dt.month
df_merge['month'].value_counts().sort_values().reset_index()

    month  count
0      10   3797
1       9   3819
2      12   3859
3       2   3892
4       6   4025
5       4   4067
6       8   4094
7       1   4156
8      11   4185
9       3   4186
10      5   4239
11      7   4301

In [ ]:
# show monthly sales trends

## 10) Are there pizza types that are not doing well on the menu?